
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


#activities-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}


.activity-mobile-card {
  position: relative;
  width: 100%;
  max-width: 100%;
  font-family: 'Segoe UI', sans-serif;
}

.activity-label {
  background-color: #d4b28f;
  color: white;
  font-size: 40px;
  padding: 10px 20px;
  width: fit-content;
  position: relative;
  z-index: 2;
}


.activity-image-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.activity-image {
  width: 100%;
  height: auto;
  display: block;
}


.activity-details-box {
  background-color: #2d5b63;
  color: white;
  padding: 15px 20px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  top: -10px; 
  z-index: 1;
}


.details-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity-time {
  font-size: 14px;
}

.favorite-btn {
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}


.read-more-btn {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 15px;
  padding: 6px 12px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.activity-label {
  background-color: #d4b28f;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 12px 20px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width: fit-content;
  position: relative;
  z-index: 2;
  margin: 0 auto; 
  text-align: center;
}

.activity-label p {
  margin: 0;
}


.activity-description {
  display: none;
  background-color: #f2f2f2;
  color: #333;
  padding: 15px 20px;
  border-radius: 0 0 20px 20px;
  font-size: 15px;
  line-height: 1.5;
}

.activity-description.active {
  display: block;
}



















































/* HERO */
.hero-content {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.hero-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%); 
}

.hero-content h1 {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  font-weight: 300;
  color: white;
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
}

/* DESCRIPTION */
.desc-content {
  background-color: #34626C; 
  padding: 2rem 1.5rem;
  border-radius: 8rem 0 8rem 0;
  margin-top: -2rem; 
  text-align: center;
  color: white;
  font-family: "Helvetica Neue", sans-serif;
}

.desc-content h2 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  font-family: initial;
  max-width: 300px;
  margin-left: 100px;
  
}

.desc-content p {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 300;
  color: #e3e3e3;
  margin: 30px
  ;
}

